body{
    background-color: black;
}

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.navig {
    color: rgb(236, 31, 49);
    font-family: Russo One;
    text-decoration: none;
    display: block;  
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding-right: 7%;
    width: 25%;
    
}

.welcome_win{
    

    background-color: black;
}
.LICH_name{

    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 200px;
    font-weight: 400;
    line-height: 241px;
    letter-spacing: 0px;
    text-align: center;
}
.welcome_desc{

    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0px;
    text-align: center;
}
.hack_button {
    position:relative;
    
}
.hack{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20%;
    color: rgba(236, 31, 49, 0.5);
    border: 12px solid rgba(236, 31, 49, 0.5);
    border-radius: 70px;
    text-decoration: none; 
    font-family: Russo One;
    font-size: 90px;
    font-weight: 400;
    line-height: 108px;
    letter-spacing: 0px;
    text-align: center;
}
.second_welcome_win{
    position: relative;
   
    
    margin: 0 auto;
    background-color: black;
}
.second_welcome_desc{
    width: 978px;
    margin: auto;
    margin-top: 10%;
    color: #fc1313;
    font-family: Russo One;
    font-size: 96px;
    font-weight: 400;
    line-height: 116px;
    letter-spacing: 0px;
    text-align: center;
}
.next_button{
position: relative;

}
.next{
/* далее */
display: flex;
justify-content: center;
margin: auto;
margin-top: 10%;
width: 20%;
color: rgba(236, 31, 49, 0.5);
border: 12px solid rgba(236, 31, 49, 0.5);
border-radius: 70px;
text-decoration: none; 
font-family: Russo One;
font-size: 90px;
font-weight: 400;
line-height: 108px;
letter-spacing: 0px;
text-align: center;
}
.frame_win{
/* main menu */
position: relative;
width: 1920px;
height: 1080px;
margin: 0 auto;
    background-color: black;
}

.header {
    position: fixed;
    text-align: center;
    
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    
    
   
}
.header_rect{
    /* Rectangle 2 */
    padding: 0px 100px 25px 95px;
    left: 5%;
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    position: relative;
    border-radius: 0px 0px 70px 70px;
    background: rgb(0, 0, 0);
}

.fon {
    background-image: linear-gradient(red, black);
}
.left_corner{
/* Oval 1 */
width: 111.74px;
height: 56.32px;
transform: rotate(-128.34deg);
background: rgb(0, 0, 0);
}
.main_menu_link{
/* Главная */
width: 198px;
height: 57px;
display: flex;
flex-direction: row;
align-items: center;

color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 47px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0px;
text-align: center;
}
.news_link{
/* Новости */
width: 222px;
height: 57px;
display: flex;
flex-direction: row;
align-items: center;

color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 47px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0px;
text-align: center;
}
.archive_link{
/* Архив */
width: 148px;
height: 57px;
display: flex;
flex-direction: row;
align-items: center;

color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 47px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0px;
text-align: center;
}
.operations_link{
/* Операции */

width: 241px;
height: 57px;
display: flex;
flex-direction: row;
align-items: center;

color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 47px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0px;
text-align: center;
}
.map_link{
/* Карта */
width: 141px;
height: 57px;
display: flex;
flex-direction: row;
align-items: center;

color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 47px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0px;
text-align: center;
}
.right_corner{
/* Oval 1 */

width: 111.74px;
height: 56.32px;

transform: rotate(-51.66deg);
background: rgb(0, 0, 0);
}
.left_main_corner{
    /* Oval 1 */
width: 111px;
height: 56.09px;
transform: rotate(128.64deg);
background: rgb(0, 0, 0);
}
.right_main_corner{
    /* Oval 1 */
width: 111px;
height: 56.09px;
transform: rotate(51.36deg);
background: rgb(0, 0, 0);
}
.main_win{
/* Rectangle 3 */
width: 1338px;

border-radius: 70px 70px 0px 0px;
margin: 0 auto;
    background-color: black;
    

}


.main_desc_1{
    width: 475px;
    height: 681px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: justify;
}
.main_desc_2{
    width: 475px;
    height: 679px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0px;
text-align: justify;
}
.lock{
/* НЕДОСТУПНО */
width: 504px;
height: 64px;
display: flex;
flex-direction: row;
align-items: center;

color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 72px;
font-weight: 400;
line-height: 87px;
letter-spacing: 0px;
text-align: justify;
}
.history_of_LICH{
    width: 1235.17px;
    height: 632px;
    color: rgb(236, 31, 49);
    margin-left: 6%;
    margin-top: 20%;
font-family: Russo One;
font-size: 29px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0px;
text-align: justify;
}
.map_art{
/* World of LICH PMC 2024-05-16-21-30 */
width: 1921px;
height: 922px;
box-sizing: border-box;
border: 4px solid rgba(236, 31, 49, 0.5);
border-radius: 70px;

background: url("https://github.com/Whaleloooool/LICH/blob/main/images/craiyon_221045_Stylized_design_for_a_logo_in_red_tones_with_runes_and_demonic_symbols.png?raw=truehttps://github.com/Whaleloooool/LICH/blob/main/images/craiyon_221045_Stylized_design_for_a_logo_in_red_tones_with_runes_and_demonic_symbols.png");
}
.map_legend_sign_base{
/* Oval 4 */
width: 50px;
height: 50px;
box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;

}
.map_legend_desc_base{
/* - центральная континентальная база корпорации */
width: 375px;
height: 49px;
color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
.map_legend_sign_warbase{
/* Oval 5 */
width: 50px;
height: 50px;
box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_legend_desc_warbase{
/* - основные военные базы корпорации */
width: 411px;
height: 25px;
color: rgb(236, 31, 49);
font-family: Russo One;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
.map_sign_base_1{
/* Group 21 */
width: 50px;
height: 50px;
box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_base_2{
    /* Group 19 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_base_3{
    /* Oval 4 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_base_4{
    /* Oval 4 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_base_5{
    /* Oval 4 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_base_6{
    /* Oval 4 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_warbase_1{
/* Oval 5 */
width: 50px;
height: 50px;
    box-sizing: border-box;
    border: 9px solid rgb(174, 5, 135);
    background: rgba(255, 0, 0, 0);
    opacity: 0.8;
}
.map_sign_warbase_2{
    /* Oval 5 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_warbase_3{
    /* Oval 5 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_warbase_4{
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_warbase_5{
    /* Oval 5 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_warbase_6{
    /* Oval 5 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.map_sign_warbase_7{
    /* Oval 5 */
width: 50px;
height: 50px;
    box-sizing: border-box;
border: 9px solid rgb(174, 5, 135);
background: rgba(255, 0, 0, 0);
opacity: 0.8;
}
.box_desc_base{
/* desc base 1 */
margin:auto;
box-sizing: border-box;
border: 9px solid rgb(236, 31, 49);
border-radius: 70px;

background: rgb(0, 0, 0);
}
.desc_base_1{
width: 400px;
height: 251px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_2{
    width: 467px;
    height: 251px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_3{
width: 368px;
height: 251px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_4{
    width: 534px;
height: 197px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_5{
width: 504px;
height: 262px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_6{
width: 377px;
height: 210px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_7{
width: 707px;
height: 236px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_8{
width: 539px;
height: 324px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_9{
width: 690px;
height: 284px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_10{
width: 452px;
height: 213px;
display: flex;
flex-direction: row;
align-items: center;

    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.desc_base_11{
width: 436px;
height: 213px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.desc_base_12{
width: 490px;
height: 263px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.desc_base_13{
width: 471px;
height: 229px;
display: flex;
flex-direction: row;
align-items: center;
    color: rgb(236, 31, 49);
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
